
.espaciadoMenu{
    padding-top: 30vh;
  }
  
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    
    }

    .carrera{
      width:100%;
      height: 80vh;
      margin-top:5px;
    }

    .contenedor{
      box-sizing: border-box;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      flex-wrap: wrap;
     
    }

    .contenedor img{
      width:40%;
      min-width: 400px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
     }
    .contenedor div{
      width:50%;
      min-width: 400px;
      padding: 40px;
    }
    .contenedor p{
      margin-top: 0px;
      margin-bottom: 30px;
      text-align: justify;
    }