

.espaciadoMenu{
    padding-top: 30vh;
  }
  
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    
    }


.menu{
    z-index: 1000;
}

.primera{
    width: 100%;
    margin-top:5px;
   
}

.texto{
    width: 90%;
    padding-bottom: 30px;
    text-align: justify;
}

 .contenedor{
    margin-bottom: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start; 
        align-items: center;    
    }
    
    
.contenedor a{
    width: 100%;
    text-decoration: none;
    color: #818080;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 4%;
    margin-bottom: 2px;
   
}

.contenedor a:hover{
    background-color: #e6e4e4;
    transition: 0.3s;   
    border-radius: 5%;
    cursor: pointer;
}

.desp p{
    padding: 0px;
    margin:0px;
    font-size: 20px;
    font-weight: bold;
    color: #818080;
    line-height: 1; /* Ajusta el espaciado vertical */
    }



span{
    font-weight: bold;
    color:  #007bff;
    text-decoration: none ;
}


 ul{
    display:none;
}



.contenedor h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    font-weight: 400;
   
}

.desp{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.desp p:last-child {
    font-size: 30px; /* Ajusta el tamaño del símbolo + */
    font-weight: bold; /* Asegura que sea más grueso */
    margin: 0; /* Elimina márgenes adicionales */
   
}

.nuestraHistoria{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:60px;
    gap: 20px;
}


.imagenHistoria{
    width: 45%;
    min-width: 400px;
  /*  margin-left: 20px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;         
    text-align: start;

}

.imagenHistoria img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}


.listasHistoria{
    width: 45%;
    min-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap:10px;
}


.listasHistoria li{
    display:flex;
    align-items: start;
    gap:5px;
    z-index: 0;
        
}

span{
   font-weight: 800;
    
}

.cifras{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top:80px;
    margin-bottom: 80px;
    gap: 20px;
}

.cifras h3{
    color: #007bff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.cifras p{
    font-size: 25px;
    font-weight: lighter;
}
