
.espaciadoMenu{
    padding-top: 30vh;
  }
  
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    
    }

    h2{
      text-align: center;
      margin-top:80px;
      margin-bottom:80px;
      
    }

    p{
      padding:20px 140px;
    }


    footer p{
      padding: 0px;
    }