
.espaciadoMenu{
    padding-top: 30vh;
  }
  
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    
    }

    h2{
      margin-top: 80px;
      text-align: center;
      margin-bottom: 80px;
    }

    p{
      font-size: 100%;
      
      margin: 50px;
      padding: 0px;
    }

    footer p{
      margin:0px;
      margin-top: 20px;
    }

    span{
      font-weight: 800;
      color: rgba(5, 5, 177, 0.808);
    }

    .organismos{
      margin-top: 80px;
      width:100%;
      display:flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
   
    }
    .organismo img{
      width: 15vw;
      height: auto;
     
     
    }

   .proyecto{   
        
        width:100%;
        margin-top: 5px;
      }
  