
.espaciadoMenu{
    padding-top: 30vh;
  }
 
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    margin-bottom:5px;
    }

    h4{
        color:#007bff;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
        text-align: center;
    }

  .imagenes p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }


    .contenedorHorizontal{
         width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; 
        flex-wrap: wrap;
    }

    .imagenes{
        min-width: 400px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width:60%;
        gap: 2px;
        
    }

    .imagenes img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
    }

    form {
      position:relative;
      width:35%;
      min-width: 400px;
    /* max-width: 600px; */
      margin: 0px auto; 
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
 
    }
  
  form div {
      margin-bottom: 15px;
     
  }

  
/*
 .pieForm input{
  width:20%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
 } 
  .pieForm a{
    margin: 0px;
    padding: 0px;
  }*/
  label {
    color:#007bff;
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
  }
  
  input, select, button {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}
/*
.ruta{
   width: 100%;
   border-radius: 25px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
} */
.comprobacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.pieForm{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  padding:0px;
  margin-top: 20px;
  flex-wrap: wrap;
}

#privacidad{
  display: inline-block; 
}	

.g-recaptcha {
  display: inline-block !important; /* Asegura que el reCAPTCHA se comporte como un elemento en línea */
  text-align: center; /* Centra el contenido dentro del contenedor */
  align-self: center;
}

.checkboxContainer {
  width:100%;
  background-color: bisque;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
  align-items: center; /* Alinea verticalmente los elementos */
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px; /* Espaciado entre el checkbox y la etiqueta */
}

.checkbox {
  width:10%;
  display: flex;
  align-items: center; /* Asegura que el checkbox esté centrado verticalmente */
}

.checkbox input[type="checkbox"] {
  margin: 0; /* Elimina márgenes adicionales */
}

.checkboxLabel {
  display: inline-block;
  margin: 0; /* Asegura que no haya márgenes adicionales */
}