
.espaciadoMenu{
    padding-top: 30vh;
  }
  
  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    margin-bottom:5px;
    }

    h4{
        color:#007bff;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
        text-align: center;
    }

  p{
    padding-left: 20px;
    padding-right: 20px;
  }

    .contenedorHorizontal{
        
        width:98vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; 
        
      
       
        
       
       flex-wrap: wrap;
       
        

    }

    .imagenes{
       
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width:60%;
        min-width: 600px;
       
       gap:5px
    


    }

    form {
      
      width:600px;
      min-width: 400px;
    /* max-width: 600px; */
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form div {
      margin-bottom: 15px;
     
  }
  
  label {
    color:#007bff;
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
  }
  
  input, select, button {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ruta{
   width: 100%;
   border-radius: 25px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}

