h1{
  background-color: black;
  color:#ffffff;
  font-size:250%;
  text-align: center;
  padding: 80px;
  margin: 0px;
  }

  h2{
    font-size: 90%;
    margin: 50px;
    margin-bottom: 10px;
    text-align: start;
    }

 p{
    margin: 50px; 
 }   

 span{
    color:rgb(121, 170, 245);
    text-decoration: underline;
  }

  .textoCentrado{
    margin:40px;
    text-align: center;
  }
  