
.espaciadoMenu{
  padding-top: 30vh;
}

h1{
  background-color: rgba(5, 5, 177, 0.808);
  color:#ffffff;
  font-size:250%;
  text-align: center;
  padding: 80px;
  margin: 0px;
  
  }


  h2{
    font-size: 90%;
    margin: 50px;
    margin-bottom: 10px;
    text-align: start;
    color:rgba(5, 5, 177, 0.808);
    }

 p{
    margin: 50px; 
 }   

 span{
    color:rgb(121, 170, 245);
    text-decoration: underline;
  }

  .textoCentrado{
    margin:40px;
    text-align: center;
  }
  