  
 /*----------------------------------------------MENU PRINCIPAL----------------------------------------------*/ 
  
 /*Limpiamos los estilos por defecto del navegador*/
 
 
 body{
  margin: 0;
  padding: 0;
  width:98vw; /*-----------------------¿PORQUE?-----------------------------*/
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;

  }
 
 
 
 *{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
  }

/*-----------------------------------------AJUSTES DE ELEMENTOS GENERALES------------------------------------------------*/
h1{
    color: #007bff;
    font-size: 200%;
    font-weight: 100%;
    margin-left: 30px;
  }

h2{
  color: #007bff;
  font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    font-weight: 400;
  }


/*h3{
  margin: 0px;
  padding: 0px;
  }  */

p{
  font-weight:300;
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 100%;
  }

  /* Estilo para el menú principal */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
  }


li {
    padding-bottom: 10px;
    position: relative;
  /* display: inline-block;*/
   }


  a {
     /* color: rgb(7, 7, 7);*/
      color: #007bff;
      text-decoration: none;
      padding: 10px 15px;
      display:inline-flex;
      }

      


  span{
        font-weight: 800;
         color: #007bff;
        text-decoration:none;
    }
    

      
/*-------------------------------------------------AJUSTES MENU NAVEGACIÓN----------------------------------------------------*/
 

.menu{
  z-index: 998;
  width:100%;
  margin-bottom: 80px;
  position:fixed;
 
}

.menuNav{
  
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.despHorizontal img{
  width: auto;
  height: 5vw; 
  
}
 
.menuNav > li:hover{
  
   border-top: #c50808de 5px solid;
   border-bottom: #c50808de 5px solid;
   color:#c50808de;
 /*  background-color:#c50808de;*/
  }
 
 /* Estilo para el submenú (desplegable) */
  li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f5f5;
    min-width: 200px;
  }  


  li:hover > ul {
    display: block;
  }

  
  .desplegable{
    position: absolute;
    top: -12px;
    left: 100%;
    background-color:#f8f5f5;
    
  } 

 .desplegable > li:hover{
    /*background-color: #ffffff;
   border-top: #0505b1ce 3px solid;
    border-bottom: #0505b1ce 3px solid;
    background-color:#c50808de;*/
    border-top: #c50808de 5px solid;
    border-bottom: #c50808de 5px solid;
    color:#c50808de;
  }

  .submenu > li:hover{
  /*  border-top: #0505b1ce 3px solid;
    border-bottom: #0505b1ce 3px solid;
    background-color:#c50808de; */
    border-top: #c50808de 5px solid;
    border-bottom: #c50808de 5px solid;
    color:#c50808de;
  }

  .despHorizontal > li:hover{
   /* border-top: #0505b1ce 3px solid;
    border-bottom: #0505b1ce 3px solid;
    background-color:#c50808de; */
    border-top: #c50808de 5px solid;
    border-bottom: #c50808de 5px solid;
    color:#c50808de;
    
  }
 /* li ul li:not(:last-child) {
    border-bottom: 1px solid black;
  }*/
  
 /* ul.despHorizontal > li{
    border-bottom: none !important;
  } */

 
  /* Estilo para los elementos del submenú 
  li ul li {
    display: block;
  }*/


  
/*Estilo para el desplegable horizontal*/

.despHorizontal {
  display:none;
  position:absolute;
  top: 100%;
  left: 0;
  padding:5px 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

li:hover  .despHorizontal{
  display:flex;
  
}

.despHorizontal li {
  display: flex; 
  
  margin: 0 10px; 
  
}
  
  /*--------------------------------Estilo para cabecera de email y telefono----------------------------------------*/
  .infMenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    flex-wrap: nowrap;
    }

    .infMenu a{
      color: #ffffff;
      text-decoration: none;
      padding: 0;
 }

    .infMenu img{
      vertical-align: middle; 
    }

    .infMenu li{
      padding-right: 5%;
    }




  /*---------------------------------------------ESTILOS GENERALES-------------------------------------*/

  .grande{
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: center;
    padding:5%;
  }

  .logo{
    width: 15px;
    height: 15px; 
  }

  .logo2{
    width: 30px;
    height: 30px; 
  }

  .logo3{
    width:auto;
    height: 10vh;
  }

  /*----------------------------------------------FOOTER----------------------------------------------*/


footer{
  width:100%;
  background-color: rgba(5, 5, 177, 0.808);
  color:#ffffff;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  flex-wrap: wrap;
  margin-top: 120px;
  padding-top: 50px;

}

footer p{
  font-size: 90%;
}


.pie{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
  width: 90%;
  padding: 20px;
  flex-wrap: wrap;
  
}


/*
 .pie2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: sandybrown; 
 } 
*/
.pie > div{
  box-sizing: border-box;
  width:50%;
  padding: 60px;  
  }

  .pie1{
    min-width: 400px;
    margin-top: 5px;
  }

  .pie2{
    min-width: 400px;
    margin-top: 5px;
  }

.pie2 h3{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}


.pie div{
  padding-top: 5px;
  
}


.contacto{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  
}
.contacto div{
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 40px;
  
}

.contacto a{
  
  color: #ffffff;
  text-decoration: none;
  padding: 0px;
  margin-left: 0px;
}

.contacto img{
  margin: 0px;
  padding:0px;
}

.contacto p{

  margin: 0px;
  padding:0px;
}

.contacto  a:hover{
  text-decoration: underline;
}

.copyright{
  width:100%;
  min-width: 400px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.copyright a{
  font-size: 100%;
  color: #ffffff;
  text-decoration: none;
}

.copyright a:hover{
  text-decoration: underline;
}