
.espaciadoMenu{
    padding-top: 30vh;
  }
  
  hr{
    width: 50%;
    border: 0;
    height: 4px;
    background-color:  rgba(42, 107, 230, 0.808);
    margin: 30px  auto 10px auto;
    
  }


  h1{
    background-color: rgba(5, 5, 177, 0.808);
    color:#ffffff;
    font-size:250%;
    text-align: center;
    padding: 80px;
    margin: 0px;
    
    }

    h2{
      text-align: center;
      padding: 50px;
    }

    .foto{
      width:100%;
      height: auto;
      padding-top: 5px;;
    }
    .foto img{
      width:100%;
      

    }

    .masGrande{
      font-size: 40px;
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom:5%;
      
    }

    .cont{
      width: 100%;
      height: auto;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      flex-wrap: wrap;
      gap:0px;
    }

    .imgMasTexto{
      width: 100%;
      height: auto;
      display:flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: start;
      flex-wrap: wrap;  
      gap:0px;
      margin-bottom: 80px;
     
    }

    .imgMasTexto > img{
      width: 50%;
      min-width: 400px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   
    }

   .image > img{
      width: 100%;
      height: auto;
      min-width: 400px;
    
    }

    .texto{
      width: 45%;
      min-width: 400px;
      display:flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items:flex-start; 
      flex-wrap: wrap;
      
        
    }

    .texto > p{
      font-size: 18px;
      width: 100%;
      height: auto;
      text-align: justify;
      padding: 0px;
    
    }

    .texto li{
      display:flex;
      flex-direction: row;
      justify-content:start;
      align-items:start;
      gap:5px;
      
    } 

    .texto ul{
      display:flex;
      flex-direction: column;
      justify-content:start;
      align-items:flex-start;
      z-index: 0;
    }

   
    .texto a{
      text-decoration: none;
      color: #09598f;
      font-weight: bold;
      padding-top: 0px;
    }


    .texto a:hover{
      color: #09598f;
      font-weight: bold;
      text-decoration: underline;
    }


    .image{
      width: 50%;
      min-width: 400px;
      height: auto;
      display:flex;
      flex-direction: column;
      justify-content:start;
      align-items: start;
      flex-wrap: wrap;
      gap:0px;
    }


    .image > p{
      font-size: 18px;
      width: 100%;
      height: auto;
      text-align: justify;
      padding: 0px;
      padding-top: 20px;
    }


    .final {
      font-size: 18px;
      width: 95%;
      height: auto;
      text-align: justify;
      padding: 20px;
     
      background-color: rgb(229, 239, 247);  
      border-radius: 20px;
      border: #09598f solid 2px;
    }